@page
@model digioz.Forum.Areas.Forum.Pages.Acp.SystemSettingsManagerModel
@{
    Layout = "/Pages/Shared/_LayoutAcp.cshtml";
}

<div id="wrap">
    <div id="page-header">
        <h1>Administration Control Panel</h1>
        <p><a href="index.php?sid=8d7527c1ede56ede082d1bfaa302a670">Admin index</a> &bull; <a href="./../index.php?sid=8d7527c1ede56ede082d1bfaa302a670">Board index</a></p>
        <p id="skip"><a href="#acp">Skip to content</a></p>
    </div>
    <div id="page-body">
        <div id="tabs">
            <ul>
                <li class="tab"><a href="/Forum/Acp/Index&amp;i=1">General</a></li>
                <li class="tab"><a href="/Forum/Acp/ForumManager">Forums</a></li>
                <li class="tab"><a href="/Forum/Acp/PostManager">Posting</a></li>
                <li class="tab"><a href="/Forum/Acp/UsersAndGroupsManager">Users and Groups</a></li>
                <li class="tab"><a href="/Forum/Acp/PermissionsManager">Permissions</a></li>
                <li class="tab"><a href="/Forum/Acp/CustomizationManager">Customise</a></li>
                <li class="tab"><a href="/Forum/Acp/MaintenanceManager">Maintenance</a></li>
                <li class="tab activetab"><a href="/Forum/Acp/SystemSettingsManager">System</a></li>
            </ul>
        </div>
        <div id="acp">
            <div id="content">
                <div id="menu">
                    <p>You are logged in as:<br /><strong>admin</strong> [&nbsp;<a href="./../ucp.php?mode=logout&amp;sid=8d7527c1ede56ede082d1bfaa302a670">Logout</a>&nbsp;][&nbsp;<a href="index.php?action=admlogout&amp;sid=8d7527c1ede56ede082d1bfaa302a670">ACP&nbsp;Logout</a>&nbsp;]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <div class="menu-block">
                        <a class="header" href="javascript:void(0);">Automation</a>
                        <ul>
                            <li id="activemenu"><a href="index.php?sid=8d7527c1ede56ede082d1bfaa302a670&amp;i=acp_update&amp;mode=version_check"><span>Check for updates</span></a></li>
                        </ul>
                    </div>
                    <div class="menu-block">
                        <a class="header" href="javascript:void(0);">General tasks</a>
                        <ul>
                            <li><a href="index.php?sid=8d7527c1ede56ede082d1bfaa302a670&amp;i=acp_bots&amp;icat=28&amp;mode=bots"><span>Spiders/Robots</span></a></li>
                            <li><a href="index.php?sid=8d7527c1ede56ede082d1bfaa302a670&amp;i=acp_email&amp;mode=email"><span>Mass email</span></a></li>
                            <li><a href="index.php?sid=8d7527c1ede56ede082d1bfaa302a670&amp;i=acp_php_info&amp;icat=28&amp;mode=info"><span>PHP information</span></a></li>
                            <li><a href="index.php?sid=8d7527c1ede56ede082d1bfaa302a670&amp;i=acp_reasons&amp;mode=main"><span>Manage report/denial reasons</span></a></li>
                        </ul>
                    </div>
                    <div class="menu-block">
                        <a class="header" href="javascript:void(0);">Module management</a>
                        <ul>
                            <li><a href="index.php?sid=8d7527c1ede56ede082d1bfaa302a670&amp;i=acp_modules&amp;mode=acp"><span>Administration Control Panel</span></a></li>
                            <li><a href="index.php?sid=8d7527c1ede56ede082d1bfaa302a670&amp;i=acp_modules&amp;mode=ucp"><span>User Control Panel</span></a></li>
                            <li><a href="index.php?sid=8d7527c1ede56ede082d1bfaa302a670&amp;i=acp_modules&amp;mode=mcp"><span>Moderator Control Panel</span></a></li>
                        </ul>
                    </div>
                </div>
                <div id="main">
                    <div class="main">
                        <a id="maincontent"></a>
                        <h1>Version check</h1>
                        <p>Checks to see if your phpBB installation is up to date.</p>
                        <div class="successbox">
                            <p>Your phpBB installation is up to date. There are no updates available at this time. - <a href="index.php?i=acp_update&amp;sid=8d7527c1ede56ede082d1bfaa302a670&amp;mode=version_check&amp;versioncheck_force=1&amp;sid=8d7527c1ede56ede082d1bfaa302a670">Re-Check version</a></p>
                        </div>
                        <fieldset>
                            <legend></legend>
                            <dl>
                                <dt><label>Current version</label></dt>
                                <dd><strong>3.3.14</strong></dd>
                            </dl>
                        </fieldset>
                    </div>
                </div>
                <!-- /#main -->
            </div>
        </div>
        <!-- /#acp -->
    </div>
    <div id="page-footer">
        <div class="copyright">
            Powered by <a href="https://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Limited
        </div>
        <div id="darkenwrapper" data-ajax-error-title="AJAX error" data-ajax-error-text="Something went wrong when processing your request." data-ajax-error-text-abort="User aborted request." data-ajax-error-text-timeout="Your request timed out; please try again." data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply.">
            <div id="darken">&nbsp;</div>
        </div>
        <div id="loading_indicator"></div>
        <div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
            <a href="#" class="alert_close"></a>
            <h3 class="alert_title">&nbsp;</h3>
            <p class="alert_text"></p>
        </div>
        <div id="phpbb_confirm" class="phpbb_alert">
            <a href="#" class="alert_close"></a>
            <div class="alert_text"></div>
        </div>
    </div>
</div>
