@using digioz.Forum.Services
@using digioz.Forum.Services.Interfaces
@inject ILayoutService LayoutService

@{
    var layoutModel = LayoutService.GetLayoutData();
}

<div class="stat-block online-list">
    <h3>Who is online</h3>
    <p>
        In total there is <strong>1</strong> user online :: 0 registered, 0 hidden and 1 guest (based on users active over the past 5 minutes)<br />Most users ever online was <strong>2</strong> on Wed May 29, 2024 3:35 am<br />
    </p>
</div>
