@using System.Security.Claims
@using digioz.Forum.Helpers
@using digioz.Forum.Services
@using digioz.Forum.Services.Interfaces
@inject ILayoutService LayoutService
@inject IHttpContextAccessor HttpContextAccessor
@inject IRoleService RoleService
@inject IUserRoleService UserRoleService
@{
    var layoutModel = LayoutService.GetLayoutData();
    var userHelper = new UserHelper(HttpContextAccessor, RoleService, UserRoleService);
    var userId = userHelper.GetUserId();
    var loggedInUser = userHelper.GetForumUser(userId);
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/@(layoutModel.ForumStyle.StyleName)/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.theme.css" />
</head>

<div id="wrap" class="container-fluid p-0">
    <a id="top" class="top-anchor" accesskey="t"></a>

    <header id="page-header" class="mb-3">
        <div class="headerbar bg-light border-bottom py-3" role="banner">
            <div class="container">
                <div class="row align-items-center">
                    <div id="site-description" class="col-md-8">
                        <a id="logo" class="logo d-inline-block me-2" href="/Index" title="Board index">
                            <span class="site_logo"></span>
                        </a>
                        <h1 class="h3 d-inline align-middle">@layoutModel.ForumConfig["sitename"]</h1>
                        <p class="mb-1">@layoutModel.ForumConfig["site_desc"]</p>
                        <p class="skiplink mb-0"><a href="#start_here">Skip to content</a></p>
                    </div>
                    <div id="search-box" class="col-md-4" role="search">
                        <form action="/Search" method="get" id="search" class="d-flex">
                            <input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="form-control me-2" size="20" value="" placeholder="Search…" />
                            <button class="btn btn-outline-secondary me-2" type="submit" title="Search">
                                <i class="bi bi-search" aria-hidden="true"></i><span class="visually-hidden">Search</span>
                            </button>
                            <a href="/Forum/Search" class="btn btn-outline-secondary" title="Advanced search">
                                <i class="bi bi-gear" aria-hidden="true"></i><span class="visually-hidden">Advanced search</span>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom" role="navigation">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-main" aria-controls="nav-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-main">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="quickLinksDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="icon fa-bars fa-fw" aria-hidden="true"></i> Quick links
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="quickLinksDropdown">
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="/Forum/Search?search_id=unanswered" role="menuitem">
                                        <i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i> Unanswered topics
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Forum/Search?search_id=active_topics" role="menuitem">
                                        <i class="icon fa-file-o fa-fw icon-blue" aria-hidden="true"></i> Active topics
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="/Forum/Search" role="menuitem">
                                        <i class="icon fa-search fa-fw" aria-hidden="true"></i> Search
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/">Demo</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="position: relative; top: 2px; width: 14px; height: 14px; padding: 0 2px; fill: currentColor;">
                                    <path d="M256 0C114.6 0 0 100.3 0 224c0 70.1 36.9 132.6 94.5 173.7 9.6 6.9 15.2 18.1 13.5 29.9l-9.4 66.2c-1.4 9.6 6 18.2 15.7 18.2H192v-56c0-4.4 3.6-8 8-8h16c4.4 0 8 3.6 8 8v56h64v-56c0-4.4 3.6-8 8-8h16c4.4 0 8 3.6 8 8v56h77.7c9.7 0 17.1-8.6 15.7-18.2l-9.4-66.2c-1.7-11.7 3.8-23 13.5-29.9C475.1 356.6 512 294.1 512 224 512 100.3 397.4 0 256 0zm-96 320c-35.3 0-64-28.7-64-64s28.7-64 64-64 64 28.7 64 64-28.7 64-64 64zm192 0c-35.3 0-64-28.7-64-64s28.7-64 64-64 64 28.7 64 64-28.7 64-64 64z" />
                                </svg>
                                Skeleton Extension
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Forum/Faq" rel="help" title="Frequently Asked Questions" role="menuitem">
                                <i class="icon fa-question-circle fa-fw" aria-hidden="true"></i> FAQ
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Identity/Account/Login?redirect=index" title="Login" accesskey="x" role="menuitem">
                                    <i class="icon fa-power-off fa-fw" aria-hidden="true"></i> Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Identity/Account/Register" role="menuitem">
                                    <i class="icon fa-pencil-square-o fa-fw" aria-hidden="true"></i> Register
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a href="/Forum/Ucp" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span style="color: #@(loggedInUser.UserColor)" class="username-coloured">@loggedInUser.UserName</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li>
                                        <a class="dropdown-item" href="/Forum/Ucp" title="User Control Panel" role="menuitem">
                                            <i class="icon fa-sliders fa-fw" aria-hidden="true"></i> User Control Panel
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Forum/Profile" title="Profile" role="menuitem">
                                            <i class="icon fa-user fa-fw" aria-hidden="true"></i> Profile
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="/Identity/Account/Logout" title="Logout" accesskey="x" role="menuitem">
                                            <i class="icon fa-power-off fa-fw" aria-hidden="true"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Forum/Pm/Inbox" role="menuitem">
                                    <i class="icon fa-inbox fa-fw" aria-hidden="true"></i> Private messages <span class="badge bg-secondary d-none">0</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/Forum/Ucp?i=ucp_notifications" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="icon fa-bell fa-fw" aria-hidden="true"></i> Notifications <span class="badge bg-secondary d-none">0</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="notificationDropdown" style="min-width: 300px;">
                                    <div class="dropdown-header d-flex justify-content-between align-items-center">
                                        <span>Notifications</span>
                                        <span class="header_settings">
                                            <a href="/Forum/Ucp?i=ucp_notifications&amp;mode=notification_options" class="small">Settings</a>
                                        </span>
                                    </div>
                                    <ul class="list-group list-group-flush mb-0">
                                        <li class="list-group-item text-muted small">
                                            You have no notifications
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <nav aria-label="breadcrumb" class="bg-light py-2">
            <div class="container">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="/Index" accesskey="h" data-navbar-reference="index">
                            <i class="icon fa-home fa-fw"></i> Board index
                        </a>
                    </li>
                </ol>
                <ul class="nav float-end d-none d-lg-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="/Forum/Search" title="View the advanced search options" role="menuitem">
                            <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="visually-hidden">Search</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <a id="start_here" class="anchor"></a>
