@page
@model digioz.Forum.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to digioz Forum</h1>
    <p class="lead">This is a simple forum application built with ASP.NET Core 8.0</p>
    <a href="/Forum/Index">Go to Forum</a>
    <p>&nbsp;</p>
</div>
