@page
@model digioz.Forum.Areas.Forum.Pages.IndexModel
@{
    ViewData["Title"] = "Forum Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="page-body" class="page-body" role="main">
    <p class="right responsive-center time">It is currently Fri Nov 22, 2024 4:40 pm</p>
    <div class="forabg">
        <div class="inner">
            <ul class="topiclist">
                <li class="header">
                    <dl class="row-item">
                        <dt>
                            <div class="list-inner"><a href="/Forum/Forum?f=1">Your first category</a></div>
                        </dt>
                        <dd class="topics">Topics</dd>
                        <dd class="posts">Posts</dd>
                        <dd class="lastpost"><span>Last post</span></dd>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist forums">
                <li class="row">
                    <dl class="row-item forum_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="/Forum/Forum?f=2" class="forumtitle">Your first forum</a>
                                <br />Description of your first forum.
                                <div class="responsive-show" style="display: none;">
                                    Topics: <strong>5</strong>
                                </div>
                            </div>
                        </dt>
                        <dd class="topics">5 <dfn>Topics</dfn></dd>
                        <dd class="posts">9 <dfn>Posts</dfn></dd>
                        <dd class="lastpost">
                            <span>
                                <dfn>Last post</dfn>
                                <a href="/Forum/Topic?p=9#p9" title="Test 9/20/24 - 1" class="lastsubject">Test 9/20/24 - 1</a> <br />
                                by <a href="/Forum/Members?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a>
                                <a href="/Forum/Topic?p=9#p9" title="View the latest post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                </a>
                                <br /><time datetime="2024-09-21T01:40:00+00:00">Sat Sep 21, 2024 1:40 am</time>
                            </span>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        @await Component.InvokeAsync("LoginBox")
    }

    @await Component.InvokeAsync("WhoIsOnline")

    <div class="stat-block statistics">
        <h3>Statistics</h3>
        <p>
            Total posts <strong>9</strong> &bull; Total topics <strong>5</strong> &bull; Total members <strong>1</strong> &bull; Our newest member <strong><a href="/Forum/Members?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></strong>
        </p>
    </div>
</div>
