@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Areas/Forum/Pages/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="inner">
        <div class="content">
            <h2 class="login-title">@ViewData["Title"]</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="error" role="alert"></div>
                <fieldset class="fields1">
                    <dl>
                        <dt><label asp-for="Input.Email" class="form-label"></label></dt>
                        <dd>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd>
                            <input id="forgotpassword" type="submit" class="button1" value="Reset Password">
                        </dd>
                    </dl>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
