<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("StylesHeader")
</head>
    @await RenderSectionAsync("Headers", required: false)

<body id="phpbb" class="nojs notouch section-index ltr ">
    @await Component.InvokeAsync("PageHeader")
    @RenderBody()
    @await Component.InvokeAsync("PageFooter")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>