@model digioz.Forum.Areas.Forum.Pages.ViewTopicModel
@using digioz.Forum.Services
@using digioz.Forum.Services.Interfaces
@inject ILayoutService LayoutService
@inject IForumSessionService ForumSessionService
@inject IForumService ForumService
@inject IForumPostService ForumPostService
@inject IForumTopicService ForumTopicService
@inject IForumPermissionService ForumPermissionService

@{
    var layoutModel = LayoutService.GetLayoutData();
}

<div id="page-body" class="page-body" role="main">
    <h2 class="topic-title"><a href="./viewtopic?t=1">Welcome to phpBB3</a></h2>
    <!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body -->
    <div style="display: none !important;">Description of your first forum.<br></div>
    <div class="action-bar bar-top">
        <a href="./posting?mode=reply&amp;t=1" class="button" title="Post a reply">
            <span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
        </a>
        <div class="dropdown-container dropdown-button-control topic-tools">
            <span title="Topic tools" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
                <i class="icon fa-wrench fa-fw" aria-hidden="true"></i>
                <span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
            </span>
            <div class="dropdown">
                <div class="pointer">
                    <div class="pointer-inner"></div>
                </div>
                <ul class="dropdown-contents">
                    <li>
                        <a href="./viewtopic?uid=2&amp;f=2&amp;t=1&amp;watch=topic&amp;start=0&amp;hash=5ebc9d9d" class="watch-topic-link" title="Subscribe topic" data-ajax="toggle_link" data-toggle-class="icon fa-square-o fa-fw" data-toggle-text="Unsubscribe topic" data-toggle-url="./viewtopic?uid=2&amp;f=2&amp;t=1&amp;unwatch=topic&amp;start=0&amp;hash=5ebc9d9d" data-update-all=".watch-topic-link">
                            <i class="icon fa-check-square-o fa-fw" aria-hidden="true"></i><span>Subscribe topic</span>
                        </a>
                    </li>
                    <li>
                        <a href="./viewtopic?t=1&amp;bookmark=1&amp;hash=5ebc9d9d" class="bookmark-link" title="Bookmark topic" data-ajax="alt_text" data-alt-text="Remove from bookmarks" data-update-all=".bookmark-link">
                            <i class="icon fa-bookmark-o fa-fw" aria-hidden="true"></i><span>Bookmark topic</span>
                        </a>
                    </li>
                    <li>
                        <a href="./memberlist?mode=email&amp;t=1" title="Email topic">
                            <i class="icon fa-envelope-o fa-fw" aria-hidden="true"></i><span>Email topic</span>
                        </a>
                    </li>
                    <li>
                        <a href="./viewtopic?t=1&amp;view=print" title="Print view" accesskey="p">
                            <i class="icon fa-print fa-fw" aria-hidden="true"></i><span>Print view</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="search-box" role="search">
            <form method="get" id="topic-search" action="./search">
                <fieldset>
                    <input class="inputbox search tiny" type="search" name="keywords" id="search_keywords" size="20" placeholder="Search this topic…">
                    <button class="button button-search" type="submit" title="Search">
                        <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
                    </button>
                    <a href="./search" class="button button-search-end" title="Advanced search">
                        <i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span>
                    </a>
                    <input type="hidden" name="t" value="1">
                    <input type="hidden" name="sf" value="msgonly">
                </fieldset>
            </form>
        </div>
        <div class="pagination">
            4 posts
            • Page <strong>1</strong> of <strong>1</strong>
        </div>
    </div>
    <div id="p1" class="post has-profile bg2 online">
        <div class="inner">
            <dl class="postprofile" id="profile1">
                <dt class="has-profile-rank no-avatar">
                    <div class="avatar-container">
                    </div>
                    <a href="./memberlist?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a>
                </dt>
                <dd class="profile-rank">Site Admin</dd>
                <dd class="profile-posts"><strong>Posts:</strong> <a href="./search?author_id=2&amp;sr=posts">5</a></dd>
                <dd class="profile-joined"><strong>Joined:</strong> Tue Feb 04, 2025 5:03 pm</dd>
                <dd class="profile-contact">
                    <strong>Contact:</strong>
                    <div class="dropdown-container dropdown-left">
                        <a href="#" class="dropdown-trigger dropdown-toggle" title="Contact admin">
                            <i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">Contact admin</span>
                        </a>
                        <div class="dropdown">
                            <div class="pointer">
                                <div class="pointer-inner"></div>
                            </div>
                            <div class="dropdown-contents contact-icons">
                                <div>
                                    <a href="./ucp?i=pm&amp;mode=compose&amp;action=quotepost&amp;p=1" title="Send private message">
                                        <span class="contact-icon pm-icon">Send private message</span>
                                    </a>
                                    <a href="mailto:admin@yourdomain.com" title="Send email" class="last-cell">
                                        <span class="contact-icon email-icon">Send email</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
            <div class="postbody">
                <div id="post_content1">
                    <h3 class="first">
                        <a href="./viewtopic?p=1#p1">Welcome to phpBB3</a>
                    </h3>
                    <ul class="post-buttons">
                        <li>
                            <a href="./posting?mode=edit&amp;p=1" title="Edit post" class="button button-icon-only">
                                <i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">Edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="./posting?mode=soft_delete&amp;p=1" title="Delete post" class="button button-icon-only">
                                <i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">Delete</span>
                            </a>
                        </li>
                        <li>
                            <a href="/app/post/1/report" title="Report this post" class="button button-icon-only">
                                <i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="./mcp?i=main&amp;mode=post_details&amp;p=1&amp;sid=465d1a502314321c69766bfdbeab7264" title="Information" class="button button-icon-only">
                                <i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">Information</span>
                            </a>
                        </li>
                        <li>
                            <a href="./posting?mode=quote&amp;p=1" title="Reply with quote" class="button button-icon-only">
                                <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                            </a>
                        </li>
                        <li class="responsive-menu hidden dropdown-container">
                            <a href="javascript:void(0);" class="js-responsive-menu-link responsive-menu-link dropdown-toggle"><i class="icon fa-bars fa-fw" aria-hidden="true"></i></a>
                            <div class="dropdown">
                                <div class="pointer">
                                    <div class="pointer-inner"></div>
                                </div>
                                <ul class="dropdown-contents"></ul>
                            </div>
                        </li>
                    </ul>
                    <p class="author">
                        <a class="unread" href="./viewtopic?p=1#p1" title="Post">
                            <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
                        </a>
                        <span class="responsive-hide">by <strong><a href="./memberlist?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></strong> » </span><time datetime="2025-02-04T17:03:24+00:00">Tue Feb 04, 2025 5:03 pm</time>
                    </p>
                    <div class="content">This is an example post in your phpBB3 installation. Everything seems to be working. You may delete this post if you like and continue to set up your board. During the installation process your first category and your first forum are assigned an appropriate set of permissions for the predefined usergroups administrators, bots, global moderators, guests, registered users and registered COPPA users. If you also choose to delete your first category and your first forum, do not forget to assign permissions for all these usergroups for all new categories and forums you create. It is recommended to rename your first category and your first forum and copy permissions from these while creating new categories and forums. Have fun!</div>
                </div>
            </div>
            <div class="back2top">
                <a href="#top" class="top" title="Top">
                    <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                    <span class="sr-only">Top</span>
                </a>
            </div>
        </div>
    </div>
    <div id="p3" class="post has-profile bg1 online">
        <div class="inner">
            <dl class="postprofile" id="profile3">
                <dt class="has-profile-rank no-avatar">
                    <div class="avatar-container">
                    </div>
                    <a href="./memberlist?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a>
                </dt>
                <dd class="profile-rank">Site Admin</dd>
                <dd class="profile-posts"><strong>Posts:</strong> <a href="./search?author_id=2&amp;sr=posts">5</a></dd>
                <dd class="profile-joined"><strong>Joined:</strong> Tue Feb 04, 2025 5:03 pm</dd>
                <dd class="profile-contact">
                    <strong>Contact:</strong>
                    <div class="dropdown-container dropdown-left">
                        <a href="#" class="dropdown-trigger dropdown-toggle" title="Contact admin">
                            <i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">Contact admin</span>
                        </a>
                        <div class="dropdown">
                            <div class="pointer">
                                <div class="pointer-inner"></div>
                            </div>
                            <div class="dropdown-contents contact-icons">
                                <div>
                                    <a href="./ucp?i=pm&amp;mode=compose&amp;action=quotepost&amp;p=3" title="Send private message">
                                        <span class="contact-icon pm-icon">Send private message</span>
                                    </a>
                                    <a href="mailto:admin@yourdomain.com" title="Send email" class="last-cell">
                                        <span class="contact-icon email-icon">Send email</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
            <div class="postbody">
                <div id="post_content3">
                    <h3>
                        <a href="./viewtopic?p=3#p3">Re: Welcome to phpBB3</a>
                    </h3>
                    <ul class="post-buttons">
                        <li>
                            <a href="./posting?mode=edit&amp;p=3" title="Edit post" class="button button-icon-only">
                                <i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">Edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="./posting?mode=soft_delete&amp;p=3" title="Delete post" class="button button-icon-only">
                                <i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">Delete</span>
                            </a>
                        </li>
                        <li>
                            <a href="/app/post/3/report" title="Report this post" class="button button-icon-only">
                                <i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="./mcp?i=main&amp;mode=post_details&amp;p=3&amp;sid=465d1a502314321c69766bfdbeab7264" title="Information" class="button button-icon-only">
                                <i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">Information</span>
                            </a>
                        </li>
                        <li>
                            <a href="./posting?mode=quote&amp;p=3" title="Reply with quote" class="button button-icon-only">
                                <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                            </a>
                        </li>
                        <li class="responsive-menu hidden dropdown-container">
                            <a href="javascript:void(0);" class="js-responsive-menu-link responsive-menu-link dropdown-toggle"><i class="icon fa-bars fa-fw" aria-hidden="true"></i></a>
                            <div class="dropdown">
                                <div class="pointer">
                                    <div class="pointer-inner"></div>
                                </div>
                                <ul class="dropdown-contents"></ul>
                            </div>
                        </li>
                    </ul>
                    <p class="author">
                        <a class="unread" href="./viewtopic?p=3#p3" title="Post">
                            <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
                        </a>
                        <span class="responsive-hide">by <strong><a href="./memberlist?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></strong> » </span><time datetime="2025-04-29T18:47:00+00:00">Tue Apr 29, 2025 6:47 pm</time>
                    </p>
                    <div class="content">First reply to thread 1.  <img class="smilies" src="~/images/smilies/icon_e_smile.gif" width="15" height="17" alt=":)" title="Smile"></div>
                </div>
            </div>
            <div class="back2top">
                <a href="#top" class="top" title="Top">
                    <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                    <span class="sr-only">Top</span>
                </a>
            </div>
        </div>
    </div>
    <div id="p4" class="post has-profile bg2 online">
        <div class="inner">
            <dl class="postprofile" id="profile4">
                <dt class="has-profile-rank no-avatar">
                    <div class="avatar-container">
                    </div>
                    <a href="./memberlist?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a>
                </dt>
                <dd class="profile-rank">Site Admin</dd>
                <dd class="profile-posts"><strong>Posts:</strong> <a href="./search?author_id=2&amp;sr=posts">5</a></dd>
                <dd class="profile-joined"><strong>Joined:</strong> Tue Feb 04, 2025 5:03 pm</dd>
                <dd class="profile-contact">
                    <strong>Contact:</strong>
                    <div class="dropdown-container dropdown-left">
                        <a href="#" class="dropdown-trigger dropdown-toggle" title="Contact admin">
                            <i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">Contact admin</span>
                        </a>
                        <div class="dropdown">
                            <div class="pointer">
                                <div class="pointer-inner"></div>
                            </div>
                            <div class="dropdown-contents contact-icons">
                                <div>
                                    <a href="./ucp?i=pm&amp;mode=compose&amp;action=quotepost&amp;p=4" title="Send private message">
                                        <span class="contact-icon pm-icon">Send private message</span>
                                    </a>
                                    <a href="mailto:admin@yourdomain.com" title="Send email" class="last-cell">
                                        <span class="contact-icon email-icon">Send email</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
            <div class="postbody">
                <div id="post_content4">
                    <h3>
                        <a href="./viewtopic?p=4#p4">Re: Welcome to phpBB3</a>
                    </h3>
                    <ul class="post-buttons">
                        <li>
                            <a href="./posting?mode=edit&amp;p=4" title="Edit post" class="button button-icon-only">
                                <i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">Edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="./posting?mode=soft_delete&amp;p=4" title="Delete post" class="button button-icon-only">
                                <i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">Delete</span>
                            </a>
                        </li>
                        <li>
                            <a href="/app/post/4/report" title="Report this post" class="button button-icon-only">
                                <i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="./mcp?i=main&amp;mode=post_details&amp;p=4&amp;sid=465d1a502314321c69766bfdbeab7264" title="Information" class="button button-icon-only">
                                <i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">Information</span>
                            </a>
                        </li>
                        <li>
                            <a href="./posting?mode=quote&amp;p=4" title="Reply with quote" class="button button-icon-only">
                                <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                            </a>
                        </li>
                        <li class="responsive-menu hidden dropdown-container">
                            <a href="javascript:void(0);" class="js-responsive-menu-link responsive-menu-link dropdown-toggle"><i class="icon fa-bars fa-fw" aria-hidden="true"></i></a>
                            <div class="dropdown">
                                <div class="pointer">
                                    <div class="pointer-inner"></div>
                                </div>
                                <ul class="dropdown-contents"></ul>
                            </div>
                        </li>
                    </ul>
                    <p class="author">
                        <a class="unread" href="./viewtopic?p=4#p4" title="Post">
                            <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
                        </a>
                        <span class="responsive-hide">by <strong><a href="./memberlist?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></strong> » </span><time datetime="2025-04-29T18:47:16+00:00">Tue Apr 29, 2025 6:47 pm</time>
                    </p>
                    <div class="content">Second reply to thread 1.  <img class="smilies" src="~/images/smilies/icon_idea.gif" width="15" height="17" alt=":idea:" title="Idea"></div>
                </div>
            </div>
            <div class="back2top">
                <a href="#top" class="top" title="Top">
                    <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                    <span class="sr-only">Top</span>
                </a>
            </div>
        </div>
    </div>
    <div id="p5" class="post has-profile bg1 online">
        <div class="inner">
            <dl class="postprofile" id="profile5">
                <dt class="has-profile-rank no-avatar">
                    <div class="avatar-container">
                    </div>
                    <a href="./memberlist?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a>
                </dt>
                <dd class="profile-rank">Site Admin</dd>
                <dd class="profile-posts"><strong>Posts:</strong> <a href="./search?author_id=2&amp;sr=posts">5</a></dd>
                <dd class="profile-joined"><strong>Joined:</strong> Tue Feb 04, 2025 5:03 pm</dd>
                <dd class="profile-contact">
                    <strong>Contact:</strong>
                    <div class="dropdown-container dropdown-left">
                        <a href="#" class="dropdown-trigger dropdown-toggle" title="Contact admin">
                            <i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">Contact admin</span>
                        </a>
                        <div class="dropdown">
                            <div class="pointer">
                                <div class="pointer-inner"></div>
                            </div>
                            <div class="dropdown-contents contact-icons">
                                <div>
                                    <a href="./ucp?i=pm&amp;mode=compose&amp;action=quotepost&amp;p=5" title="Send private message">
                                        <span class="contact-icon pm-icon">Send private message</span>
                                    </a>
                                    <a href="mailto:admin@yourdomain.com" title="Send email" class="last-cell">
                                        <span class="contact-icon email-icon">Send email</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
            <div class="postbody">
                <div id="post_content5">
                    <h3>
                        <a href="./viewtopic?p=5#p5">Re: Welcome to phpBB3</a>
                    </h3>
                    <ul class="post-buttons">
                        <li>
                            <a href="./posting?mode=edit&amp;p=5" title="Edit post" class="button button-icon-only">
                                <i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">Edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="./posting?mode=soft_delete&amp;p=5" title="Delete post" class="button button-icon-only">
                                <i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">Delete</span>
                            </a>
                        </li>
                        <li>
                            <a href="/app/post/5/report" title="Report this post" class="button button-icon-only">
                                <i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="./mcp?i=main&amp;mode=post_details&amp;p=5&amp;sid=465d1a502314321c69766bfdbeab7264" title="Information" class="button button-icon-only">
                                <i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">Information</span>
                            </a>
                        </li>
                        <li>
                            <a href="./posting?mode=quote&amp;p=5" title="Reply with quote" class="button button-icon-only">
                                <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                            </a>
                        </li>
                        <li class="responsive-menu hidden dropdown-container">
                            <a href="javascript:void(0);" class="js-responsive-menu-link responsive-menu-link dropdown-toggle"><i class="icon fa-bars fa-fw" aria-hidden="true"></i></a>
                            <div class="dropdown">
                                <div class="pointer">
                                    <div class="pointer-inner"></div>
                                </div>
                                <ul class="dropdown-contents"></ul>
                            </div>
                        </li>
                    </ul>
                    <p class="author">
                        <a class="unread" href="./viewtopic?p=5#p5" title="Post">
                            <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
                        </a>
                        <span class="responsive-hide">by <strong><a href="./memberlist?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></strong> » </span><time datetime="2025-04-29T18:47:39+00:00">Tue Apr 29, 2025 6:47 pm</time>
                    </p>
                    <div class="content">3rd reply to thread 1.  <img class="smilies" src="~/images/smilies/icon_eek.gif" width="15" height="17" alt=":shock:" title="Shocked"></div>
                </div>
            </div>
            <div class="back2top">
                <a href="#top" class="top" title="Top">
                    <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                    <span class="sr-only">Top</span>
                </a>
            </div>
        </div>
    </div>
    <div class="action-bar bar-bottom">
        <a href="./posting?mode=reply&amp;t=1" class="button" title="Post a reply">
            <span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
        </a>
        <div class="dropdown-container dropdown-button-control topic-tools">
            <span title="Topic tools" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
                <i class="icon fa-wrench fa-fw" aria-hidden="true"></i>
                <span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
            </span>
            <div class="dropdown">
                <div class="pointer">
                    <div class="pointer-inner"></div>
                </div>
                <ul class="dropdown-contents">
                    <li>
                        <a href="./viewtopic?uid=2&amp;f=2&amp;t=1&amp;watch=topic&amp;start=0&amp;hash=5ebc9d9d" class="watch-topic-link" title="Subscribe topic" data-ajax="toggle_link" data-toggle-class="icon fa-square-o fa-fw" data-toggle-text="Unsubscribe topic" data-toggle-url="./viewtopic?uid=2&amp;f=2&amp;t=1&amp;unwatch=topic&amp;start=0&amp;hash=5ebc9d9d" data-update-all=".watch-topic-link">
                            <i class="icon fa-check-square-o fa-fw" aria-hidden="true"></i><span>Subscribe topic</span>
                        </a>
                    </li>
                    <li>
                        <a href="./viewtopic?t=1&amp;bookmark=1&amp;hash=5ebc9d9d" class="bookmark-link" title="Bookmark topic" data-ajax="alt_text" data-alt-text="Remove from bookmarks" data-update-all=".bookmark-link">
                            <i class="icon fa-bookmark-o fa-fw" aria-hidden="true"></i><span>Bookmark topic</span>
                        </a>
                    </li>
                    <li>
                        <a href="./memberlist?mode=email&amp;t=1" title="Email topic">
                            <i class="icon fa-envelope-o fa-fw" aria-hidden="true"></i><span>Email topic</span>
                        </a>
                    </li>
                    <li>
                        <a href="./viewtopic?t=1&amp;view=print" title="Print view" accesskey="p">
                            <i class="icon fa-print fa-fw" aria-hidden="true"></i><span>Print view</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <form method="post" action="./viewtopic?t=1">
            <div class="dropdown-container dropdown-container-left dropdown-button-control sort-tools">
                <span title="Display and sorting options" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
                    <i class="icon fa-sort-amount-asc fa-fw" aria-hidden="true"></i>
                    <span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
                </span>
                <div class="dropdown hidden">
                    <div class="pointer">
                        <div class="pointer-inner"></div>
                    </div>
                    <div class="dropdown-contents">
                        <fieldset class="display-options">
                            <label>
                                Display:
                                <select name="st" id="st">
                                    <option value="0" selected="selected">All posts</option>
                                    <option value="1">1 day</option>
                                    <option value="7">7 days</option>
                                    <option value="14">2 weeks</option>
                                    <option value="30">1 month</option>
                                    <option value="90">3 months</option>
                                    <option value="180">6 months</option>
                                    <option value="365">1 year</option>
                                </select>
                            </label>
                            <label>
                                Sort by:
                                <select name="sk" id="sk">
                                    <option value="a">Author</option>
                                    <option value="t" selected="selected">Post time</option>
                                    <option value="s">Subject</option>
                                </select>
                            </label>
                            <label>
                                Direction:
                                <select name="sd" id="sd">
                                    <option value="a" selected="selected">Ascending</option>
                                    <option value="d">Descending</option>
                                </select>
                            </label>
                            <hr class="dashed">
                            <input type="submit" class="button2" name="sort" value="Go">
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
        <div class="quickmod dropdown-container dropdown-container-left dropdown-up dropdown-right dropdown-button-control" id="quickmod">
            <span title="Quick-mod tools" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
                <i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span class="sr-only">Quick-mod tools</span>
                <span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
            </span>
            <div class="dropdown">
                <div class="pointer">
                    <div class="pointer-inner"></div>
                </div>
                <ul class="dropdown-contents">
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=lock&amp;sid=465d1a502314321c69766bfdbeab7264" data-ajax="true" data-refresh="true">Lock topic</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=delete_topic&amp;sid=465d1a502314321c69766bfdbeab7264" data-ajax="true" data-refresh="true">Delete topic</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=move&amp;sid=465d1a502314321c69766bfdbeab7264">Move topic</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=split&amp;sid=465d1a502314321c69766bfdbeab7264">Split topic</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=merge&amp;sid=465d1a502314321c69766bfdbeab7264">Move posts</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=merge_topic&amp;sid=465d1a502314321c69766bfdbeab7264">Merge topic</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=fork&amp;sid=465d1a502314321c69766bfdbeab7264">Copy topic</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=make_sticky&amp;sid=465d1a502314321c69766bfdbeab7264" data-ajax="true" data-refresh="true">Change to “Sticky”</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=make_announce&amp;sid=465d1a502314321c69766bfdbeab7264" data-ajax="true" data-refresh="true">Change to “Announcement”</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=make_global&amp;sid=465d1a502314321c69766bfdbeab7264" data-ajax="true" data-refresh="true">Change to “Global”</a></li>
                    <li><a href="./mcp?f=2&amp;t=1&amp;start=0&amp;quickmod=1&amp;redirect=.%2Fviewtopic%3Ft%3D1&amp;action=topic_logs&amp;sid=465d1a502314321c69766bfdbeab7264">View logs</a></li>
                </ul>
            </div>
        </div>
        <div class="pagination">
            4 posts
            • Page <strong>1</strong> of <strong>1</strong>
        </div>
    </div>
    <div class="action-bar actions-jump">
        <p class="jumpbox-return">
            <a href="./viewforum?f=2" class="left-box arrow-left" accesskey="r">
                <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>Return to “Your first forum”</span>
            </a>
        </p>
        <div class="jumpbox dropdown-container dropdown-container-right dropdown-up dropdown-left dropdown-button-control" id="jumpbox">
            <span title="Jump to" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
                <span>Jump to</span>
                <span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
            </span>
            <div class="dropdown">
                <div class="pointer">
                    <div class="pointer-inner"></div>
                </div>
                <ul class="dropdown-contents">
                    <li><a href="./viewforum?f=1" class="jumpbox-cat-link"> <span> Your first category</span></a></li>
                    <li><a href="./viewforum?f=2" class="jumpbox-sub-link"><span class="spacer"></span> <span>↳ &nbsp; Your first forum</span></a></li>
                    <li><a href="./viewforum?f=4" class="jumpbox-sub-link"><span class="spacer"></span> <span>↳ &nbsp; Your second forum</span></a></li>
                    <li><a href="./viewforum?f=3" class="jumpbox-cat-link"> <span> Your second category</span></a></li>
                    <li><a href="./viewforum?f=5" class="jumpbox-sub-link"><span class="spacer"></span> <span>↳ &nbsp; Your third forum</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="stat-block online-list">
        <h3><a href="./viewonline">Who is online</a></h3>
        <p>Users browsing this forum: <a href="./memberlist?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a> and 0 guests</p>
    </div>
</div>