@using digioz.Forum.Services
@using digioz.Forum.Services.Interfaces
@inject ILayoutService LayoutService

@{
    var layoutModel = LayoutService.GetLayoutData();
}

<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ACP index</title>
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link href="~/adm/style/admin.css?assets_version=11" rel="stylesheet" type="text/css" media="screen" />
    <script>
        // <![CDATA[
        var jump_page = "Enter\u0020the\u0020page\u0020number\u0020you\u0020wish\u0020to\u0020go\u0020to\u003A";
        var on_page = '';
        var per_page = '';
        var base_url = "";

        /**
        * Jump to page
        */
        function jumpto()
        {
           var page = prompt(jump_page, on_page);

           if (page !== null && !isNaN(page) && page == Math.floor(page) && page > 0)
           {
               if (base_url.indexOf('?') == -1)
               {
                   document.location.href = base_url + '?start=' + ((page - 1) * per_page);
               }
               else
               {
                   document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * per_page);
               }
           }
        }

        /**
        * Mark/unmark checkboxes
        * id = ID of parent container, name = name prefix, state = state [true/false]
        */
        function marklist(id, name, state)
        {
           var parent = document.getElementById(id) || document[id];

           if (!parent)
           {
               return;
           }

           var rb = parent.getElementsByTagName('input');

           for (var r = 0; r < rb.length; r++)
           {
               if (rb[r].name.substr(0, name.length) == name && rb[r].disabled !== true)
               {
                   rb[r].checked = state;
               }
           }
        }

        /**
        * Find a member
        */
        function find_username(url)
        {
           popup(url, 760, 570, '_usersearch');
           return false;
        }

        /**
        * Window popup
        */
        function popup(url, width, height, name)
        {
           if (!name)
           {
               name = '_popup';
           }

           window.open(url.replace(/&amp;/g, '&'), name, 'height=' + height + ',resizable=yes,scrollbars=yes, width=' + width);
           return false;
        }

        // ]]>
    </script>
</head>
<body class="ltr  nojs">
    @RenderBody()
    <div id="wrap">
        <div id="page-header">
            <h1>Administration Control Panel</h1>
            <p><a href="/Forum/Acp/Index">Admin index</a> &bull; <a href="./../index">Board index</a></p>
            <p id="skip"><a href="#acp">Skip to content</a></p>
        </div>
        <div id="page-body">
            <div id="tabs">
                <ul>
                    <li class="tab activetab"><a href="/Forum/Acp/Index&amp;i=1">General</a></li>
                    <li class="tab"><a href="/Forum/Acp/Index&amp;i=6">Forums</a></li>
                    <li class="tab"><a href="/Forum/Acp/Index&amp;i=9">Posting</a></li>
                    <li class="tab"><a href="/Forum/Acp/Index&amp;i=12">Users and Groups</a></li>
                    <li class="tab"><a href="/Forum/Acp/Index&amp;i=16">Permissions</a></li>
                    <li class="tab"><a href="/Forum/Acp/Index&amp;i=21">Customise</a></li>
                    <li class="tab"><a href="/Forum/Acp/Index&amp;i=25">Maintenance</a></li>
                    <li class="tab"><a href="/Forum/Acp/Index&amp;i=28">System</a></li>
                </ul>
            </div>
            <div id="acp">
                <div id="content">
                    <div id="menu">
                        <p>You are logged in as:<br /><strong>admin</strong> [&nbsp;<a href="./../ucp?mode=logout&amp;sid=2762cce7bbab6d59e5ab854a53c906cc">Logout</a>&nbsp;][&nbsp;<a href="/Forum/Acp/Index?action=admlogout&amp;sid=2762cce7bbab6d59e5ab854a53c906cc">ACP&nbsp;Logout</a>&nbsp;]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <div class="menu-block">
                            <a class="header" href="javascript:void(0);">Quick access</a>
                            <ul>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_users&amp;mode=overview"><span>Manage users</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_groups&amp;mode=manage"><span>Manage groups</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_forums&amp;mode=manage"><span>Manage forums</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_logs&amp;mode=mod"><span>Moderator log</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_bots&amp;mode=bots"><span>Spiders/Robots</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_php_info&amp;mode=info"><span>Information</span></a></li>
                            </ul>
                        </div>
                        <div class="menu-block">
                            <a class="header" href="javascript:void(0);">Board configuration</a>
                            <ul>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_attachments&amp;mode=attach"><span>Attachment settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=settings"><span>Board settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=features"><span>Board features</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=avatar"><span>Avatar settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=message"><span>Private message settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=post"><span>Post settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=signature"><span>Signature settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=feed"><span>Feed settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=registration"><span>User registration settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_captcha&amp;mode=visual"><span>Spambot countermeasures</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_contact&amp;mode=contact"><span>Contact page settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=-phpbb-viglink-acp-viglink_module&amp;mode=settings"><span>VigLink settings</span></a></li>
                            </ul>
                        </div>
                        <div class="menu-block">
                            <a class="header" href="javascript:void(0);">Client communication</a>
                            <ul>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=auth"><span>Authentication</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=email"><span>Email settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_jabber&amp;mode=settings"><span>Jabber settings</span></a></li>
                            </ul>
                        </div>
                        <div class="menu-block">
                            <a class="header" href="javascript:void(0);">Server configuration</a>
                            <ul>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=cookie"><span>Cookie settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=server"><span>Server settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=security"><span>Security settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_board&amp;mode=load"><span>Load settings</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_help_phpbb&amp;mode=help_phpbb"><span>Help support phpBB</span></a></li>
                                <li><a href="/Forum/Acp/Index&amp;i=acp_search&amp;mode=settings"><span>Search settings</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="main">
                        <div class="main">
                            <a id="maincontent"></a>
                            <h1>Welcome to phpBB</h1>
                            <p>Thank you for choosing phpBB as your board solution. This screen will give you a quick overview of all the various statistics of your board. The links on the left hand side of this screen allow you to control every aspect of your board experience. Each page will have instructions on how to use the tools.</p>
                            <div class="errorbox">
                                <p>Your phpBB installation is not up to date.</p>
                                <p><a href="/Forum/Acp/Index?versioncheck_force=1&amp;sid=2762cce7bbab6d59e5ab854a53c906cc">Re-Check version</a> &middot; <a href="/Forum/Acp/Index?i=update&amp;mode=version_check&amp;sid=2762cce7bbab6d59e5ab854a53c906cc">More information »</a></p>
                            </div>
                            <div class="errorbox notice">
                                <p>A new feature release <strong>3.3.14</strong> is available. Please read <a href="https://www.phpbb.com/community/viewtopic.php?t=2658145" title="https://www.phpbb.com/community/viewtopic.php?t=2658145"><strong>the release announcement</strong></a> to learn about what it has to offer, and how to upgrade.</p>
                            </div>
                            <div class="errorbox notice">
                                <p>Your config file is currently world-writable. We strongly encourage you to change the permissions to 640 or at least to 644 (for example: <a href="http://en.wikipedia.org/wiki/Chmod" rel="external">chmod</a> 640 config.php).</p>
                            </div>
                            <div class="lside">
                                <table class="table2 zebra-table no-header" data-no-responsive-header="true">
                                    <thead>
                                        <tr>
                                            <th>Statistic</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="tabled">Board started:</td>
                                            <td class="tabled"><strong>Tue May 28, 2024 9:32 pm</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Avatar directory size:</td>
                                            <td class="tabled"><strong>0 Bytes</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Database size:</td>
                                            <td class="tabled"><strong>2.33 MiB</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Size of posted attachments:</td>
                                            <td class="tabled"><strong>698.39 KiB</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Database server:</td>
                                            <td class="tabled"><strong>MSSQL 2022</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">GZip compression:</td>
                                            <td class="tabled"><strong>Off</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Version:</td>
                                            <td class="tabled"><strong>8.2.14</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Orphan attachments:</td>
                                            <td class="tabled">
                                                <a href="/Forum/Acp/Index?i=acp_attachments&mode=orphan&amp;sid=2762cce7bbab6d59e5ab854a53c906cc" title="More information »"><strong>1</strong></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Board version:</td>
                                            <td class="tabled">
                                                <strong><a href="/Forum/Acp/Index?i=update&amp;mode=version_check&amp;sid=2762cce7bbab6d59e5ab854a53c906cc" style="color: #BC2A4D;" title="More information »">3.3.11</a></strong> [&nbsp;<a href="/Forum/Acp/Index?versioncheck_force=1&amp;sid=2762cce7bbab6d59e5ab854a53c906cc">Re-Check version</a>&nbsp;]
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table2 zebra-table no-header" data-no-responsive-header="true">
                                    <thead>
                                        <tr>
                                            <th>Statistic</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="tabled">Number of posts:</td>
                                            <td class="tabled"><strong>12</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Posts per day:</td>
                                            <td class="tabled"><strong>0.05</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Number of topics:</td>
                                            <td class="tabled"><strong>5</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Topics per day:</td>
                                            <td class="tabled"><strong>0.02</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Number of users:</td>
                                            <td class="tabled"><strong>2</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Users per day:</td>
                                            <td class="tabled"><strong>0.01</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Number of attachments:</td>
                                            <td class="tabled"><strong>5</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">Attachments per day:</td>
                                            <td class="tabled"><strong>0.02</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="tabled">&nbsp;</td>
                                            <td class="tabled">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <fieldset>
                                <legend>Resynchronise or reset statistics</legend>
                                <form id="action_online_form" method="post" action="/Forum/Acp/Index?i=acp_main&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;mode=main" data-ajax="true">
                                    <dl>
                                        <dt><label for="action_online">Reset most users ever online</label><br /><span>&nbsp;</span></dt>
                                        <dd><input type="hidden" name="action" value="online" /><input class="button2" type="submit" id="action_online" name="action_online" value="Run now" /></dd>
                                    </dl>
                                </form>
                                <form id="action_date_form" method="post" action="/Forum/Acp/Index?i=acp_main&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;mode=main" data-ajax="true">
                                    <dl>
                                        <dt><label for="action_date">Reset board’s start date</label><br /><span>&nbsp;</span></dt>
                                        <dd><input type="hidden" name="action" value="date" /><input class="button2" type="submit" id="action_date" name="action_date" value="Run now" /></dd>
                                    </dl>
                                </form>
                                <form id="action_stats_form" method="post" action="/Forum/Acp/Index?i=acp_main&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;mode=main">
                                    <dl>
                                        <dt><label for="action_stats">Resynchronise statistics</label><br /><span>Recalculates the total number of posts, topics, users and files.</span></dt>
                                        <dd><input type="hidden" name="action" value="stats" /><input class="button2" type="submit" id="action_stats" name="action_stats" value="Run now" /></dd>
                                    </dl>
                                </form>
                                <form id="action_user_form" method="post" action="/Forum/Acp/Index?i=acp_main&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;mode=main">
                                    <dl>
                                        <dt><label for="action_user">Resynchronise post counts</label><br /><span>Only existing posts will be taken into consideration. Pruned posts will not be counted.</span></dt>
                                        <dd><input type="hidden" name="action" value="user" /><input class="button2" type="submit" id="action_user" name="action_user" value="Run now" /></dd>
                                    </dl>
                                </form>
                                <form id="action_db_track_form" method="post" action="/Forum/Acp/Index?i=acp_main&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;mode=main">
                                    <dl>
                                        <dt><label for="action_db_track">Resynchronise dotted topics</label><br /><span>First unmarks all topics and then correctly marks topics that have seen any activity during the past six months.</span></dt>
                                        <dd><input type="hidden" name="action" value="db_track" /><input class="button2" type="submit" id="action_db_track" name="action_db_track" value="Run now" /></dd>
                                    </dl>
                                </form>
                                <form id="action_purge_sessions_form" method="post" action="/Forum/Acp/Index?i=acp_main&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;mode=main" data-ajax="true">
                                    <dl>
                                        <dt><label for="action_purge_sessions">Purge all sessions</label><br /><span>Purge all sessions. This will log out all users by truncating the session table.</span></dt>
                                        <dd><input type="hidden" name="action" value="purge_sessions" /><input class="button2" type="submit" id="action_purge_sessions" name="action_purge_sessions" value="Run now" /></dd>
                                    </dl>
                                </form>
                                <form id="action_purge_cache_form" method="post" action="/Forum/Acp/Index?i=acp_main&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;mode=main" data-ajax="true">
                                    <dl>
                                        <dt><label for="action_purge_cache">Purge the cache</label><br /><span>Purge all cache related items, this includes any cached template files or queries.</span></dt>
                                        <dd><input type="hidden" name="action" value="purge_cache" /><input class="button2" type="submit" id="action_purge_cache" name="action_purge_cache" value="Run now" /></dd>
                                    </dl>
                                </form>
                            </fieldset>
                            <h2>Logged administrator actions</h2>
                            <p>This gives an overview of the last five actions carried out by board administrators. A full copy of the log can be viewed from the appropriate menu item or following the link below.</p>
                            <div style="text-align: right;"><a href="/Forum/Acp/Index?i=logs&amp;mode=admin&amp;sid=2762cce7bbab6d59e5ab854a53c906cc">&raquo; View administrator log</a></div>
                            <table class="table1 zebra-table">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>User IP</th>
                                        <th>Time</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/Forum/Acp/Index?i=users&amp;mode=overview&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></td>
                                        <td style="text-align: center;">::1</td>
                                        <td style="text-align: center;">Mon Feb 03, 2025 7:46 pm</td>
                                        <td><strong>Successful administration login</strong></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/Forum/Acp/Index?i=users&amp;mode=overview&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></td>
                                        <td style="text-align: center;">::1</td>
                                        <td style="text-align: center;">Sun Jan 19, 2025 5:56 pm</td>
                                        <td><strong>Successful administration login</strong></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/Forum/Acp/Index?i=users&amp;mode=overview&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></td>
                                        <td style="text-align: center;">::1</td>
                                        <td style="text-align: center;">Sun Jan 19, 2025 5:44 pm</td>
                                        <td><strong>Copied forum permissions</strong> from Your second category<br />» Your third forum</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/Forum/Acp/Index?i=users&amp;mode=overview&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></td>
                                        <td style="text-align: center;">::1</td>
                                        <td style="text-align: center;">Sun Jan 19, 2025 5:44 pm</td>
                                        <td><strong>Created new forum</strong><br />» Your third forum</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/Forum/Acp/Index?i=users&amp;mode=overview&amp;sid=2762cce7bbab6d59e5ab854a53c906cc&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a></td>
                                        <td style="text-align: center;">::1</td>
                                        <td style="text-align: center;">Sun Jan 19, 2025 5:43 pm</td>
                                        <td><strong>Created new forum</strong><br />» Your second forum</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h2>Inactive users</h2>
                            <p>This is a list of the last 10 registered users who have inactive accounts. Accounts are inactive either because account activation was enabled in user registration settings and these users’ accounts have not yet been activated, or because these accounts have been deactivated. A full list is available by following the link below from where you can activate, delete or remind (by sending an email) these users if you wish.</p>
                            <div style="text-align: right;"><a href="/Forum/Acp/Index?i=inactive&amp;mode=list&amp;sid=2762cce7bbab6d59e5ab854a53c906cc">&raquo; View inactive users</a></div>
                            <table class="table1 zebra-table">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Joined</th>
                                        <th>Inactive date</th>
                                        <th>Last visit</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5" style="text-align: center;">No inactive users</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /#main -->
                </div>
            </div>
            <!-- /#acp -->
        </div>
        <div id="page-footer">
            <div class="copyright">
                Powered by <a href="https://www.phpbb.com/">DigiozBB</a>&reg; Forum Software &copy; phpBB Limited
                <br />
            </div>
            <div id="darkenwrapper" data-ajax-error-title="AJAX error" data-ajax-error-text="Something went wrong when processing your request." data-ajax-error-text-abort="User aborted request." data-ajax-error-text-timeout="Your request timed out; please try again." data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply.">
                <div id="darken">&nbsp;</div>
            </div>
            <div id="loading_indicator"></div>
            <div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
                <a href="#" class="alert_close"></a>
                <h3 class="alert_title">&nbsp;</h3>
                <p class="alert_text"></p>
            </div>
            <div id="phpbb_confirm" class="phpbb_alert">
                <a href="#" class="alert_close"></a>
                <div class="alert_text"></div>
            </div>
        </div>
    </div>
    <script src="~/assets/javascript/jquery-3.6.0.min.js"></script>
    <script src="~/assets/javascript/core.js"></script>
    <script src="~/adm/style/ajax.js?assets_version=11"></script>
    <script src="~/adm/style/admin.js?assets_version=11"></script>
</body>
</html>