@using digioz.Forum.Services
@using digioz.Forum.Services.Interfaces
@inject ILayoutService LayoutService

@{
    var layoutModel = LayoutService.GetLayoutData();
}

<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ACP index</title>
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link href="~/adm/style/admin.css?assets_version=11" rel="stylesheet" type="text/css" media="screen" />
    <script>
        // <![CDATA[
        var jump_page = "Enter\u0020the\u0020page\u0020number\u0020you\u0020wish\u0020to\u0020go\u0020to\u003A";
        var on_page = '';
        var per_page = '';
        var base_url = "";

        /**
        * Jump to page
        */
        function jumpto()
        {
           var page = prompt(jump_page, on_page);

           if (page !== null && !isNaN(page) && page == Math.floor(page) && page > 0)
           {
               if (base_url.indexOf('?') == -1)
               {
                   document.location.href = base_url + '?start=' + ((page - 1) * per_page);
               }
               else
               {
                   document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * per_page);
               }
           }
        }

        /**
        * Mark/unmark checkboxes
        * id = ID of parent container, name = name prefix, state = state [true/false]
        */
        function marklist(id, name, state)
        {
           var parent = document.getElementById(id) || document[id];

           if (!parent)
           {
               return;
           }

           var rb = parent.getElementsByTagName('input');

           for (var r = 0; r < rb.length; r++)
           {
               if (rb[r].name.substr(0, name.length) == name && rb[r].disabled !== true)
               {
                   rb[r].checked = state;
               }
           }
        }

        /**
        * Find a member
        */
        function find_username(url)
        {
           popup(url, 760, 570, '_usersearch');
           return false;
        }

        /**
        * Window popup
        */
        function popup(url, width, height, name)
        {
           if (!name)
           {
               name = '_popup';
           }

           window.open(url.replace(/&amp;/g, '&'), name, 'height=' + height + ',resizable=yes,scrollbars=yes, width=' + width);
           return false;
        }

        // ]]>
    </script>
</head>
<body class="ltr  nojs">

    @RenderBody()

    <script src="~/assets/javascript/jquery-3.6.0.min.js"></script>
    <script src="~/assets/javascript/core.js"></script>
    <script src="~/adm/style/ajax.js?assets_version=11"></script>
    <script src="~/adm/style/admin.js?assets_version=11"></script>
</body>
</html>